In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\rakesh\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rakesh\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\rakesh\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\rakesh\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\rakesh\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: outcome in c:\users\rakesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\rakesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\rakesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\rakesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\rakesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\rakesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\rakesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\rakesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\rakesh\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\rakesh\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\rakesh\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rakesh\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
#connect webdriver , Answer 1
driver = webdriver.Chrome(r'C:\Users\Rakesh\Downloads\chromedriver.exe')

In [4]:
driver.get("https://www.naukri.com")

In [5]:
#entering designation and location as required
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [6]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [7]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location = []                 #Answer 1
company_name = []
experience_required = []

In [9]:
#scrape job title
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    location = i.text
    job_title.append(location)

In [10]:
job_title

['Data Analyst',
 'Data Analyst - Pharma/HLS Domain',
 'Data Analyst, IND Blr Grp 4.3',
 'Data Analyst, IND Blr Grp 4.3',
 'Data Analyst',
 'Graduate Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [11]:
#scrape job location
title_location = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in title_location[0:10]:
    location = i.text
    job_location.append(location)

In [12]:
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gurgaon/Gurugram',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Hyderabad/Secunderabad, Chennai',
 'Hybrid - Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [13]:
#scrape job experience
title_experience = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in title_experience[0:10]:
    location = i.text
    experience_required.append(location)

In [14]:
 experience_required

['0-4 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '4-9 Yrs',
 '0-2 Yrs',
 '2-4 Yrs',
 '0-0 Yrs',
 '1-3 Yrs',
 '4-6 Yrs']

In [15]:
print(len(job_title),len(job_location),len(experience_required))

10 10 10

In [16]:
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Experience':experience_required})
df

,Title,Location,Experience
0,Data Analyst,Bangalore/Bengaluru,0-4 Yrs
1,Data Analyst - Pharma/HLS Domain,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",4-9 Yrs
2,"Data Analyst, IND Blr Grp 4.3",Bangalore/Bengaluru,5-10 Yrs
3,"Data Analyst, IND Blr Grp 4.3",Bangalore/Bengaluru,5-10 Yrs
4,Data Analyst,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",4-9 Yrs
5,Graduate Data Analyst,Hybrid - Bangalore/Bengaluru,0-2 Yrs
6,Data Analyst,Bangalore/Bengaluru,2-4 Yrs
7,Data Analyst,Hybrid - Bangalore/Bengaluru,0-0 Yrs
8,Data Analyst,Bangalore/Bengaluru,1-3 Yrs
9,Data Analyst,Bangalore/Bengaluru,4-6 Yrs

In [17]:
#Answer 2

#connect webdriver , Answer 2
driver = webdriver.Chrome(r'C:\Users\Rakesh\Downloads\chromedriver.exe')

In [18]:
driver.get("https://www.naukri.com")

In [19]:
designator = driver.find_element(By.CLASS_NAME,'suggestor-input ')
designator.send_keys('Data Scientist')

In [20]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [21]:
Search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
Search.click()

In [22]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [25]:
#scrape job title
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    location = i.text
    job_title.append(location)

In [26]:
job_title

['Senior data scientist',
 'Data Scientist_NLP',
 'Data Scientist',
 'Data Science Specialist',
 'Analystics & Modeling Specialist',
 'Lead ML Scientist',
 'Lead Machine Learning Specialist',
 'Data Scientist',
 'Sr. Data scientist',
 'Staff Data Scientist']

In [28]:
#scrape location
title_location = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in title_location[0:10]:
    locaton = i.text
    job_location.append(location)

In [29]:
job_location

['Staff Data Scientist',
 'Staff Data Scientist',
 'Staff Data Scientist',
 'Staff Data Scientist',
 'Staff Data Scientist',
 'Staff Data Scientist',
 'Staff Data Scientist',
 'Staff Data Scientist',
 'Staff Data Scientist',
 'Staff Data Scientist']

In [31]:
#scrape company name
Name = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in Name[0:10]:
    location = i.text
    company_name.append(location)

In [32]:
 company_name

['Fractal Protocol',
 'Fractal Protocol',
 'Fractal Protocol',
 'Accenture',
 'Accenture',
 'Fractal Protocol',
 'Fractal Protocol',
 'Cognizant',
 'Tata Consultancy Services (TCS)',
 'Baker Hughes']

In [34]:
#scrape experience required
Experience = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in Experience[0:10]:
    location = i.text
    experience_required.append(location)

In [37]:
experience_required

['4-8 Yrs',
 '5-11 Yrs',
 '3-7 Yrs',
 '2-4 Yrs',
 '6-8 Yrs',
 '6-10 Yrs',
 '6-12 Yrs',
 '8-10 Yrs',
 '7-12 Yrs',
 '10-12 Yrs']

In [38]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [40]:
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Experience':experience_required})
df

                              Title              Location Experience
0             Senior data scientist  Staff Data Scientist    4-8 Yrs
1                Data Scientist_NLP  Staff Data Scientist   5-11 Yrs
2                    Data Scientist  Staff Data Scientist    3-7 Yrs
3           Data Science Specialist  Staff Data Scientist    2-4 Yrs
4  Analystics & Modeling Specialist  Staff Data Scientist    6-8 Yrs
5                 Lead ML Scientist  Staff Data Scientist   6-10 Yrs
6  Lead Machine Learning Specialist  Staff Data Scientist   6-12 Yrs
7                    Data Scientist  Staff Data Scientist   8-10 Yrs
8                Sr. Data scientist  Staff Data Scientist   7-12 Yrs
9              Staff Data Scientist  Staff Data Scientist  10-12 Yrs

In [41]:
#Answer 3

#connect webdriver , Answer 3
driver = webdriver.Chrome(r'C:\Users\Rakesh\Downloads\chromedriver.exe')

In [42]:
driver.get("https://www.naukri.com")

In [45]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [47]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [80]:
job_title = []
job_location = []
job_experience = []
salary = []

In [81]:
WorkLocation = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[1]/div[2]/div[1]/label/p/span[1]")
WorkLocation.click()

In [83]:
SalaryFilter = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[4]/label/p/span[1]")
SalaryFilter.click()

In [84]:
headers = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in headers[0:10]:
    location = i.text
    job_title.append(location)

In [85]:
job_title

['IT Sales Business Development Manager',
 'Analyst (GSR) - Codification',
 'Training Manager | Life Insurance - Mumbai',
 'BM / AM - Agency / Banca / Direct | Life Insurance',
 'Key Account Manager - Senior Associate',
 'Software Engineer - Data Science Developer',
 'Software Engineer',
 'Engineer - PD',
 'SE-TT',
 'Sales Executive']

In [86]:
place = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in place[0:10]:
    location = i.text
    job_location.append(location)

In [87]:
job_location

['Hyderabad/Secunderabad(Ameerpet), Kolkata(Kalyani +1), Chennai(Adyar), Bangalore/Bengaluru(Jayanagar), Delhi / NCR(Karol Bagh), Mumbai (All Areas)(Nariman Point +3)',
 'Hyderabad/Secunderabad, Kolkata, Mumbai, New Delhi, Pune, Chennai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Kolkata, Pune, Ahmedabad, Chennai, Jaipur, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Kolkata, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Kolkata, Mumbai, New Delhi, Pune, Chennai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Kolkata, Mumbai, New Delhi, Pune, Chennai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Kolkata, Mumbai, New Delhi, Pune, Chennai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Kolkata, Mumbai, New Delhi, Pune, Chennai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Kolkata, Mumbai, New Delhi, Pune, Chennai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Kolkata, Mumbai, New Delhi, Pune, Chennai, Bangalore/Bengaluru']

In [88]:
experience = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience[0:10]:
    location = i.text
    job_experience.append(location)

In [89]:
job_experience

['5-7 Yrs',
 '0-3 Yrs',
 '4-8 Yrs',
 '5-10 Yrs',
 '4-6 Yrs',
 '1-4 Yrs',
 '1-4 Yrs',
 '1-4 Yrs',
 '3-8 Yrs',
 '2-6 Yrs']

In [90]:
expense = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft "]')
for i in expense[0:10]:
    location = i.text
    salary.append(location)

In [91]:
salary

['4.75-7 Lacs PA',
 'Not disclosed',
 '6-8 Lacs PA',
 '10-16 Lacs PA',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [94]:
df = pd.DataFrame({'Headers':job_title,'Salary':salary,'Experience':job_experience,'Location':job_location})
df

,Headers,Salary,Experience,Location
0,IT Sales Business Development Manager,4.75-7 Lacs PA,5-7 Yrs,"Hyderabad/Secunderabad(Ameerpet), Kolkata(Kaly..."
1,Analyst (GSR) - Codification,Not disclosed,0-3 Yrs,"Hyderabad/Secunderabad, Kolkata, Mumbai, New D..."
2,Training Manager | Life Insurance - Mumbai,6-8 Lacs PA,4-8 Yrs,"Hyderabad/Secunderabad, Kolkata, Pune, Ahmedab..."
3,BM / AM - Agency / Banca / Direct | Life Insur...,10-16 Lacs PA,5-10 Yrs,"Hyderabad/Secunderabad, Kolkata, Pune, Ahmedab..."
4,Key Account Manager - Senior Associate,Not disclosed,4-6 Yrs,"Hyderabad/Secunderabad, Kolkata, Mumbai, New D..."
5,Software Engineer - Data Science Developer,Not disclosed,1-4 Yrs,"Hyderabad/Secunderabad, Kolkata, Mumbai, New D..."
6,Software Engineer,Not disclosed,1-4 Yrs,"Hyderabad/Secunderabad, Kolkata, Mumbai, New D..."
7,Engineer - PD,Not disclosed,1-4 Yrs,"Hyderabad/Secunderabad, Kolkata, Mumbai, New D..."
8,SE-TT,Not disclosed,3-8 Yrs,"Hyderabad/Secunderabad, Kolkata, Mumbai, New D..."
9,Sales Executive,Not disclosed,2-6 Yrs,"Hyderabad/Secunderabad, Kolkata, Mumbai, New D..."

In [97]:
#Answer 4

#connect webdriver , Answer 1
driver = webdriver.Chrome(r'C:\Users\Rakesh\Downloads\chromedriver.exe')

In [98]:
driver.get("https://www.flipkart.com")

In [99]:
designation = driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('Sunglass')

In [100]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [101]:
Brand = []
ProductDescription = []
Price = []

In [102]:
company = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in company[0:100]:
    location = i.text
    Brand.append(location)

In [103]:
Brand

['OAKLEY',
 'ROZZETTA CRAFT',
 'NuVew',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Singco India',
 'NuVew',
 'Fastrack',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'NuVew',
 'PIRASO',
 'NuVew',
 'stylish petals',
 'PIRASO',
 'SRPM',
 'Fastrack',
 'Intellilens',
 'NuVew',
 'NuVew',
 'NuVew',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Elligator',
 'SHAAH COLLECTIONS',
 'DEIXELS',
 'PIRASO',
 'Anemone',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'NuVew',
 'New Specs',
 'Soul Hub',
 'PIRASO',
 'Fastrack',
 'NuVew',
 'ROYAL SON']

In [104]:
cost = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

for i in cost[0:100]:
    location = i.text
    Price.append(location)

In [105]:
Price

['₹6,149',
 '₹423',
 '₹99',
 '₹519',
 '₹566',
 '₹579',
 '₹321',
 '₹664',
 '₹129',
 '₹519',
 '₹283',
 '₹391',
 '₹129',
 '₹224',
 '₹99',
 '₹212',
 '₹268',
 '₹218',
 '₹649',
 '₹499',
 '₹99',
 '₹125',
 '₹129',
 '₹399',
 '₹649',
 '₹198',
 '₹185',
 '₹249',
 '₹250',
 '₹419',
 '₹579',
 '₹377',
 '₹519',
 '₹99',
 '₹259',
 '₹1,349',
 '₹224',
 '₹579',
 '₹99',
 '₹699']

In [110]:
discription = driver.find_elements(By.XPATH,'//span[@class="_376u-U"]')

for i in discription[0:100]:
    location = i.text
    ProductDescription.append(location)

In [111]:
ProductDescription

['Size Small',
 'Size Free Size',
 'Size Large',
 'Size Free Size',
 'Size Free Size',
 'Size Free Size',
 'Size',
 'Size',
 'Size',
 'Size',
 '',
 '',
 '',
 'Size']

In [119]:
driver = webdriver.Chrome(r'C:\Users\Rakesh\Downloads\chromedriver.exe')

In [120]:
driver.get("https://www.flipkart.com")

In [121]:
#Answer 5
designation = driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('I phone 11-black-64gb')

In [124]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [125]:
Rating = []
ReviewCompany=[]
FullReview=[]

In [126]:
review = driver.find_element(By.CLASS_NAME,'_2_R_DZ')
review.click()

In [129]:
rating = driver.find_elements(By.XPATH,'//span[@class="_1lRcqv"]')
for i in rating[0:100]:
    location = i.text
    Rating.append(location)

In [130]:
Rating

['4.6',
 '4.6',
 '4.2',
 '4.5',
 '4.3',
 '4.5',
 '4.2',
 '4.4',
 '4.3',
 '4.1',
 '4.3',
 '4.3',
 '3.9',
 '4.1',
 '4.1',
 '4.1',
 '4.1',
 '4.3',
 '3.9',
 '3.9',
 '4.5',
 '4']

In [134]:
driver = webdriver.Chrome(r'C:\Users\Rakesh\Downloads\chromedriver.exe')

In [135]:
driver.get("https://www.flipkart.com")

In [142]:
designation = driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('I phone 11-black-64gb')

In [143]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [144]:
reviewsummary = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in reviewsummary[0:100]:
    location= i.text
    ReviewCompany.append(location)

In [145]:
ReviewCompany

['Did not meet expectations',
 'Terrific',
 'Value-for-money',
 'Must buy!',
 'Fabulous!',
 'Just okay',
 'Best in the market!',
 'Worst experience ever!',
 'Brilliant',
 'Terrific purchase']

In [151]:
clickone = driver.find_element(By.CLASS_NAME,"_4rR01T")
clickone.click()

In [152]:
reviewclick = driver.find_element(By.CLASS_NAME,"_2_R_DZ")
reviewclick.click()

In [153]:
reviewcompany = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in reviewcompany[0:100]:
    location = i.text
    FullReview.append(location)

In [154]:
FullReview

['',
 '',
 '',
 '',
 '',
 '',
 'The major problem is of battery .Battery does not perform well and going decreasing continuously and clarity of pictures reduces after capture, screen clarit...\nRead full review',
 'Excellent feature and good battery backup.',
 'Thnx for flipkart because timely delivery\nThis phone is good for value of the money 5.9k\nRear $ fornt Camera good\n2 gb ram me 1.3 gb free\n16 gb rom me 11g...\nRead full review',
 'Phone is good for this prize.. and very low weight. but there is no service centers.',
 'I like this phone & Performance is best',
 'Very worst phone battery is very bad',
 'The mobile was delivered on time, thanx to flipkart and it was packed in a great manner. It had an elegant design with a sturdy look and one of the best simp...\nRead full review',
 'Battery backup is nit good',
 'Very good mobile 👍\nI am using 2 days\nbattery 🔋 back up good\nCharging full in 1 hour only\ncamera awesome after software update\nVery good mobile thanks F...\nRead full review',
 'Awesome phone for this price 🤩🤩']

In [155]:
#Answer 6
driver = webdriver.Chrome(r'C:\Users\Rakesh\Downloads\chromedriver.exe')

In [156]:
driver.get("https://www.flipkart.com")

In [159]:
designation = driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sneakers')

In [160]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [161]:
Brand=[]
ProductDescription=[]
Price=[]

In [162]:
brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand[0:100]:
    location = i.text
    Brand.append(location)

In [163]:
Brand

['BRUTON',
 'SFR',
 'aadi',
 'TR',
 'Magnolia',
 'Labbin',
 'SFR',
 'RapidBox',
 'aadi',
 'PUMA',
 'Labbin',
 'aadi',
 'BIRDE',
 'BIRDE',
 'Sparx',
 'AMICO',
 'BIRDE',
 'BIRDE',
 'BRUTON',
 'aadi',
 'RapidBox',
 'BIRDE',
 'Sparx',
 'WAAN',
 'BRUTON',
 'ASTEROID',
 'kardam&sons',
 'WAAN',
 'World Wear Footwear',
 'BIRDE',
 'HRX by Hrithik Roshan',
 'WAAN',
 'aadi',
 'Elevarse',
 'BRUTON',
 'lejano',
 'HRX by Hrithik Roshan',
 'Labbin',
 'Kraasa',
 'lejano']

In [164]:
productdescription = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in productdescription[0:100]:
    location = i.text
    ProductDescription.append(location)

In [165]:
ProductDescription

['Canvas shoes for Men Sneakers For Men',
 'Sneakers For Men',
 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...',
 'Sneakers For Men',
 'Modern Trendy Sneakers boot Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'UP Sneakers For Men',
 'Sneakers For Men',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Premium Sports Shoes For Men Pack Of 2 Sneakers For Men',
 'Premium Sports Shoes For Men Pack Of 2 Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'SM-671 Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 "Men's Outdoor Color Change Sneakers Colorblock Fancy Pr...",
 'kardam&sons luxury fashionable Stylish Light Weight Sne...',
 'Trendy Stylish Comfortable & Lightweight, Casual High T...',
 'Trendy Casual Shoe For Men Pack Of 2 Sneakers For Men',
 'Men Urban Street Athleisure Shoe Sneakers For Men',
 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...',
 'Comfortable and Light Weight sports shoes for men and b...',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Black Outdoor Shoes For Boys And Men Sn...',
 'Casuals, Canvas, Partywear Sneakers For Men']

In [166]:
price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price[0:100]:
    location = i.text
    Price.append(location)

In [167]:
Price

['₹249',
 '₹249',
 '₹299',
 '₹699',
 '₹399',
 '₹424',
 '₹243',
 '₹571',
 '₹399',
 '₹2,727',
 '₹399',
 '₹599',
 '₹499',
 '₹499',
 '₹674',
 '₹549',
 '₹499',
 '₹499',
 '₹299',
 '₹749',
 '₹571',
 '₹499',
 '₹824',
 '₹699',
 '₹499',
 '₹803',
 '₹597',
 '₹699',
 '₹393',
 '₹499',
 '₹1,271',
 '₹699',
 '₹399',
 '₹298',
 '₹449',
 '₹498',
 '₹1,729',
 '₹549',
 '₹499',
 '₹498']

In [168]:
#Answer 7
driver = webdriver.Chrome(r'C:\Users\Rakesh\Downloads\chromedriver.exe')

In [169]:
driver.get("https://www.amazon.com")

In [184]:
designation = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
designation.send_keys('Laptop')

In [185]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [186]:
Title = []
Ratings = []
Price = []

In [187]:
title = driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')

for i in title[0:100]:
    location = i.text
    Title.append(location)

In [188]:
Title

['Lenovo 2022 Newest Ideapad 3 Laptop, 15.6" HD Touchscreen, 11th Gen Intel Core i3-1115G4 Processor, 8GB DDR4 RAM, 256GB PCIe NVMe SSD, HDMI, Webcam, Wi-Fi 5, Bluetooth, Windows 11 Home, Almond',
 'SGIN Laptop 15.6 Inch, 4GB DDR4 128GB SSD Windows 11 Laptops with Intel Celeron N4020C(up to 2.8 GHz), Intel UHD Graphics 600, Mini HDMI, WiFi, Webcam, USB3.0, Bluetooth 4.2',
 '2021 HP Stream 14" HD SVA Laptop Computer, Intel Celeron N4000 Processor, 4GB RAM, 64GB eMMC Flash Memory, Webcam, 1-Year Office, Intel UHD Graphics 600, Win 10S, Rose Pink, 32GB SnowBell USB Card',
 'MSI WS66 11UK FHD Mobile Workstation Intel Core i9-11900H Quadro RTX A3000 32GB RAM 1TB NVME SSD WIN10 Pro TPM2.0 Fingerprint 3 Year onsite Warranty',
 'Acer Aspire 5 A515-56-32DK Slim Laptop - 15.6" Full HD IPS Display - 11th Gen Intel i3-1115G4 Dual Core Processor - 4GB DDR4 - 128GB NVMe SSD - WiFi 6 - Amazon Alexa - Windows 11 Home in S mode.',
 'Lenovo Newest IdeaPad 1i 14" HD Laptop, 4GB RAM, 256GB Storage, Intel Pentium N5030 Processor, 10Hrs Battery Life, Rapid Charge, Home&Education Laptop, HDMI, Type-C, Windows 11S, 1 Year Microsoft 365',
 'HP 2022 15.6" HD Laptop, Intel Core i3- 1115G4 Processor, 32GB DDR4, 1TB PCIe SSD , Intel HD Graphics, Wi-Fi, Bluetooth, HDMI, Windows 11 S, Natural Silver, 32GB SnowBell USB Card',
 'ASUS Vivobook Go 12 L210 11.6” Ultra-Thin Laptop, 2022 Version, Intel Celeron N4020, 4GB RAM, 64GB eMMC, Win 11 Home in S Mode with One Year of Office 365 Personal, L210MA-DS02',
 'Lenovo 14" IdeaPad 1 Laptop, Intel Dual-core Processor, 14" HD Display, 4GB RAM, Wi-Fi 6 and Bluetooth, HDMI, SD Card Reader, Windows 11 Home in S Mode (256GB SSD Storage)',
 'HP 17-inch Laptop, 11th Generation Intel Core i5-1135G7, Iris Xe Graphics, 8 GB RAM, 256 GB SSD, Windows 11 Home (17-cn0025nr,Natural Silver)',
 'ASUS Vivobook Laptop L210 11.6" Ultra Thin Laptop, Intel Celeron N4020 Processor, 4GB RAM, 128GB eMMC Storage, Windows 11 Home in S Mode with One Year of Office 365 Personal, L210MA-DS04',
 'Lenovo - 2022 - IdeaPad Flex 5i - 2-in-1 Chromebook Laptop Computer - Intel Core i3-1115G4 - 13.3" FHD Touch Display - 8GB Memory - 128GB Storage - Chrome OS',
 'Lenovo IdeaPad 1 14 Laptop, 14.0" HD Display, Intel Celeron N4020, 4GB RAM, 64GB Storage, Intel UHD Graphics 600, Win 11 in S Mode, Cloud Grey',
 'Lenovo IdeaPad 1i Laptop 14" HD Display, Intel Pentium Silver N5030 Processor(4-Core, up to 3.1 GHz), 4GB RAM, 256GB Storage(128GB eMMC + 128GB MSD Card), 10Hr Battery, Win 11 S, 1 Year Microsoft 365',
 'Lenovo 15.6" IdeaPad 1 Laptop, AMD Dual-core Processor, 15.6" HD Anti-Glare Display, Wi-Fi 6 and Bluetooth 5.0, HDMI, Windows 11 Home in S Mode(12GB RAM | 256GB SSD)',
 'Acer Chromebook 311 MT8183/2.0GHz 4096/32 WNICb 11.6TFT Chrome OS']

In [191]:
ratings = driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')

for i in ratings[0:100]:
    location = i.text
    Ratings.append(location)

In [192]:
Ratings

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '4.4',
 '4.5',
 '4.3',
 'Shop by brand',
 'Shop by price',
 '4.3',
 '4.3',
 '4.0',
 '',
 '',
 '4.6',
 '4.5',
 '5.0',
 '4.3',
 '4.5',
 '4.5',
 '4.0',
 '3.9',
 '4.5',
 '4.3',
 '4.4',
 '4.2',
 '4.7',
 '3.0',
 '5.0',
 '4.1']

In [193]:
price = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')

for i in price[0:100]:
    location = i.text
    Price.append(location)

In [194]:
Price

['375',
 '259',
 '289',
 '289',
 '229',
 '199',
 '',
 '',
 '561',
 '299',
 '2,865',
 '269',
 '199',
 '529',
 '151',
 '199',
 '540',
 '199',
 '299',
 '149',
 '219',
 '299',
 '90']

In [195]:
#Answer 8

driver = webdriver.Chrome(r'C:\Users\Rakesh\Downloads\chromedriver.exe')

In [196]:
driver.get("https://www.azquotes.com")

In [197]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
search.click()

In [198]:
Quotes=[]
Author=[]
TypeofQuote=[]

In [199]:
quotes= driver.find_elements(By.XPATH,'//a[@class="title"]')

for i in quotes[0:100]:
    location = i.text
    Quotes.append(location)

In [200]:
Quotes

['The essence of strategy is choosing what not to do.',
 'One cannot and must not try to erase the past merely because it does not fit the present.',
 'Patriotism means to stand by the country. It does not mean to stand by the president.',
 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.',
 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.',
 'Be more concerned with your character than your reputation, because your character is what you really are, while your reputation is merely what others think you are.',
 'Weak people revenge. Strong people forgive. Intelligent People Ignore.',
 "A mind is like a parachute. It doesn't work if it is not open.",
 'Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world...would do this, it would change the earth.',
 'There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves.',
 "A strong nation, like a strong person, can afford to be gentle, firm, thoughtful, and restrained. It can afford to extend a helping hand to others. It's a weak nation, like a weak person, that must behave with bluster and boasting and rashness and other signs of insecurity.",
 'The difference between stupidity and genius is that genius has its limits.',
 'We the people are the rightful masters of both Congress and the courts, not to overthrow the Constitution but to overthrow the men who pervert the Constitution.',
 'With or without religion, you would have good people doing good things and evil people doing evil things. But for good people to do evil things, that takes religion.',
 'Human kindness has never weakened the stamina or softened the fiber of a free people. A nation does not have to be cruel to be tough.',
 'A person who never made a mistake never tried anything new.',
 'My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style',
 'Life is short, Break the Rules. Forgive quickly, Kiss slowly. Love truly. Laugh uncontrollably And never regret ANYTHING That makes you smile.',
 'This country will not be a good place for any of us to live in unless we make it a good place for all of us to live in.',
 'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with distrust, we must still dare to believe.',
 'Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.',
 'To be a Christian means to forgive the inexcusable because God has forgiven the inexcusable in you.',
 'A man who is good enough to shed his blood for the country is good enough to be given a square deal afterwards.',
 'Kindness is the language which the deaf can hear and the blind can see.',
 'Most folks are as happy as they make up their minds to be.',
 'A happy marriage is the union of two good forgivers.',
 'I believe in Christianity as I believe that the sun has risen: not only because I see it, but because by it I see everything else.',
 'Politics is the art of looking for trouble, finding it everywhere, diagnosing it incorrectly and applying the wrong remedies.',
 "I believe in everything until it's disproved. So I believe in fairies, the myths, dragons. It all exists, even if it's in your mind. Who's to say that dreams and nightmares aren't as real as the here and now?",
 'At the end of your life, you will never regret not having passed one more test, not winning one more verdict or not closing one more deal. You will regret time not spent with a husband, a friend, a child, or a parent.',
 'I never think of the future - it comes soon enough.',
 "Our greatest fear should not be of failure but of succeeding at things in life that don't really matter.",
 'Failure is simply the opportunity to begin again, this time more intelligently.',
 'Music expresses that which cannot be put into words.',
 'Good actions are a guard against the blows of adversity.',
 'Positive thinking will let you do everything better than negative thinking will.',
 "You have enemies? Good. That means you've stood up for something, sometime in your life.",
 "You don't have to be great to start, but you have to start to be great",
 'Let every nation know, whether it wishes us well or ill, that we shall pay any price, bear any burden, meet any hardship, support any friend, oppose any foe to assure the survival and the success of liberty.',
 "If you want total security, go to prison. There you're fed, clothed, given medical care and so on. The only thing lacking... is freedom.",
 'Socialism is a philosophy of failure, the creed of ignorance, and the gospel of envy, its inherent virtue is the equal sharing of misery.',
 'It is the supreme art of the teacher to awaken joy in creative expression and knowledge.',
 "Once you replace negative thoughts with positive ones, you'll start having positive results.",
 "You build on failure. You use it as a stepping stone. Close the door on the past. You don't try to forget the mistakes, but you don't dwell on it. You don't let it have any of your energy, or any of your time, or any of your space.",
 'All my life through, the new sights of Nature made me rejoice like a child.',
 "I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.",
 'Marriage is not a ritual or an end. It is a long, intricate, intimate dance together and nothing matters more than your own sense of balance and your choice of partner.',
 'When obstacles arise, you change your direction to reach your goal; you do not change your decision to get there.',
 'Time you enjoy wasting, was not wasted.',
 'The next time some academics tell you how important diversity is, ask how many Republicans there are in their sociology department.',
 'Faith is not the belief that God will do what you want. It is the belief that God will do what is right.',
 "If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward.",
 'I say that the most liberating thing about beauty is realizing that you are the beholder.',
 'It is hard to imagine a more stupid or more dangerous way of making decisions than by putting those decisions in the hands of people who pay no price for being wrong.',
 'The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.',
 'The soldier, above all other people, prays for peace, for he must suffer and bear the deepest wounds and scars of war.',
 'A true leader has the confidence to stand alone, the courage to make tough decisions, and the compassion to listen to the needs of others. He does not set out to be a leader, but becomes one by the equality of his actions and the integrity of his intent.',
 'I am a Soldier, I fight where I am told, and I win where I fight.',
 "Trying to do the Lord's work in your own strength is the most confusing, exhausting, and tedious of all work. But when you are filled with the Holy Spirit, then the ministry of Jesus just flows out of you.",
 "Sports for me is when a guy walks off the court, and you really can't tell whether he won or lost, when he carries himself with pride either way.",
 'Expect the best. Prepare for the worst. Capitalize on what comes.',
 'I became insane, with long intervals of horrible sanity.',
 'Failure is a detour, not a dead-end street.',
 'I am not a product of my circumstances. I am a product of my decisions.',
 'You can cut all the flowers but you cannot keep spring from coming.',
 "Life doesn't run away from nobody. Life runs at people.",
 'In order to succeed, your desire for success should be greater than your fear of failure.',
 "It's difficult to think anything but pleasant thoughts while eating a homegrown tomato.",
 'Too many of us are not living our dreams because we are living our fears.',
 'If the only prayer you ever say in your entire life is thank you, it will be enough.',
 "It's just a job. Grass grows, birds fly, waves pound the sand. I beat people up.",
 'A man must be big enough to admit his mistakes, smart enough to profit from them, and strong enough to correct them.',
 'Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.',
 'This is one small step for a man, one giant leap for mankind.',
 "It has been said, 'time heals all wounds.' I do not agree. The wounds remain. In time, the mind, protecting its sanity, covers them with scar tissue and the pain lessens. But it is never gone.",
 "I have held many things in my hands, and I have lost them all; but whatever I have placed in God's hands, that I still possess.",
 "Welfare's purpose should be to eliminate, as far as possible, the need for its own existence.",
 'Each time, before you intercede, be quiet first, and worship God in His glory. Think of what He can do, and how He delights to hear the prayers of His redeemed people. Think of your place and privilege in Christ, and expect great things!',
 "Failure is not the opposite of success; it's part of success.",
 'No one has ever become poor by giving.',
 'It is not my ability, but my response to God’s ability, that counts.',
 'No matter what people tell you, words and ideas can change the world.',
 'No one is born hating another person because of the color of his skin, or his background, or his religion. People must learn to hate, and if they can learn to hate, they can be taught to love, for love comes more naturally to the human heart than its opposite.',
 'A man should never neglect his family for business.',
 'Those who dare to fail miserably can achieve greatly.',
 'The two most important days in your life are the day you are born and the day you find out why.',
 'We must be global Christians with a global vision because our God is a global God.',
 'With everything that has happened to you, you can either feel sorry for yourself or treat what has happened as a gift. Everything is either an opportunity to grow or an obstacle to keep you from growing. You get to choose.',
 'Don’t let the noise of others’ opinions drown out your own inner voice.',
 'History, despite its wrenching pain, cannot be unlived, but if faced with courage, need not be lived again.',
 "How old would you be if you didn't know how old you are?",
 'Leadership is a privilege to better the lives of others. It is not an opportunity to satisfy personal greed.',
 'If you have good thoughts they will shine out of your face like sunbeams and you will always look lovely.',
 'Never cut a tree down in the wintertime. Never make a negative decision in the low time. Never make your most important decisions when you are in your worst moods. Wait. Be patient. The storm will pass. The spring will come.',
 'An optimist stays up until midnight to see the new year in. A pessimist stays up to make sure the old year leaves.',
 'When the going gets weird, the weird turn pro.',
 "When a train goes through a tunnel and it gets dark, you don't throw away the ticket and jump off. You sit still and trust the engineer.",
 'If you think you are too small to make a difference, try sleeping with a mosquito.',
 "God doesn't require us to succeed, he only requires that you try.",
 'Change your thoughts and you change your world.']

In [202]:
author = driver.find_elements(By.XPATH,'//div[@class="author"]')

for i in author[0:100]:
    location = i.text
    Author.append(location)

In [203]:
Author

['Michael Porter',
 'Golda Meir',
 'Theodore Roosevelt',
 'Nelson Mandela',
 'Erma Bombeck',
 'John Wooden',
 'Albert Einstein',
 'Frank Zappa',
 'William Faulkner',
 'Will Rogers',
 'Jimmy Carter',
 'Albert Einstein',
 'Abraham Lincoln',
 'Steven Weinberg',
 'Franklin D. Roosevelt',
 'Albert Einstein',
 'Maya Angelou',
 'Mark Twain',
 'Theodore Roosevelt',
 'Michael Jackson',
 'Martin Luther King, Jr.',
 'C. S. Lewis',
 'Theodore Roosevelt',
 'Mark Twain',
 'Abraham Lincoln',
 'Ruth Graham',
 'C. S. Lewis',
 'Groucho Marx',
 'John Lennon',
 'Barbara Bush',
 'Albert Einstein',
 'Francis Chan',
 'Henry Ford',
 'Victor Hugo',
 'Abu Bakr',
 'Zig Ziglar',
 'Winston Churchill',
 'Zig Ziglar',
 'John F. Kennedy',
 'Dwight D. Eisenhower',
 'Winston Churchill',
 'Albert Einstein',
 'Willie Nelson',
 'Johnny Cash',
 'Marie Curie',
 'Maya Angelou',
 'Amy Bloom',
 'Zig Ziglar',
 'John Lennon',
 'Thomas Sowell',
 'Max Lucado',
 'Martin Luther King, Jr.',
 'Salma Hayek',
 'Thomas Sowell',
 'Martin Luther King, Jr.',
 'Douglas MacArthur',
 'Douglas MacArthur',
 'George S. Patton',
 'Corrie Ten Boom',
 'Jim Courier',
 'Zig Ziglar',
 'Edgar Allan Poe',
 'Zig Ziglar',
 'Stephen Covey',
 'Pablo Neruda',
 'Joe Frazier',
 'Bill Cosby',
 'Lewis Grizzard',
 'Les Brown',
 'Meister Eckhart',
 'Muhammad Ali',
 'John C. Maxwell',
 'Thomas A. Edison',
 'Neil Armstrong',
 'Rose Kennedy',
 'Martin Luther',
 'Ronald Reagan',
 'Andrew Murray',
 'Arianna Huffington',
 'Anne Frank',
 'Corrie Ten Boom',
 'Robin Williams',
 'Nelson Mandela',
 'Walt Disney',
 'John F. Kennedy',
 'Mark Twain',
 'John Stott',
 'Wayne Dyer',
 'Steve Jobs',
 'Maya Angelou',
 'Satchel Paige',
 'Mwai Kibaki',
 'Roald Dahl',
 'Robert H. Schuller',
 'Bill Vaughan',
 'Hunter S. Thompson',
 'Corrie Ten Boom',
 'Dalai Lama',
 'Mother Teresa',
 'Norman Vincent Peale']

In [204]:
typeofquotes = driver.find_elements(By.XPATH,'//div[@class="tags"]')

for i in typeofquotes[0:100]:
    location = i.text
    TypeofQuote.append(location)

In [205]:
TypeofQuote

['Essence, Deep Thought, Transcendentalism',
 'Inspiration, Past, Trying',
 'Country, Peace, War',
 'Inspirational, Motivational, Death',
 '4th Of July, Food, Patriotic',
 'Inspirational, Success, Basketball',
 'Strong, Revenge, Intelligent',
 'Inspirational, Teacher, Religious',
 'Truth, Honesty, Lying',
 'Funny, Reading, Learning',
 'Strong, Thoughtful, Compassion',
 'Love, Funny, Life',
 'Freedom, Men, Democracies Have',
 'God, Religious, Atheist',
 'Respect, Kindness, Character',
 'Inspirational, Motivational, Change',
 'Inspirational, Life, Inspiring',
 'Love, Inspirational, Life',
 'Inspiring, Country, 4th Of July',
 'Inspirational, Dream, Hate',
 'Love, Inspirational, Life',
 'Forgiveness, God, Christian',
 'Country, Men, Squares',
 'Inspirational, Relationship, Positive',
 'Inspirational, Motivational, Positive',
 'Love, Friendship, Relationship',
 'Faith, God, Christian',
 'Art, Freedom, Political Will',
 'Inspirational, Life, Faith',
 'Inspirational, Life, Meaningful',
 'Happiness, Time, Clever',
 'Inspirational, Inspiring, Success',
 'Love, Inspirational, Life',
 'Music, Sound And Music, Musical Life',
 'Adversity, Blow, Action',
 'Positive, Thinking Of You, Attitude',
 'Inspirational, Funny, Life',
 'Inspirational, Life, Motivational',
 'Inspirational, Memorial Day, Freedom',
 'Freedom, Patriotic, Vaccines',
 'Philosophy, Ignorance, Democratic Socialism',
 'Inspirational, Dance, Education',
 'Life, Change, Positive',
 'Life, Bullying, Mistake',
 'Life, Nature, Children',
 'Inspirational, Life, Motivational',
 'Marriage, Love You, Long',
 'Inspirational, Motivational, Success',
 'Love, Inspirational, Life',
 'Diversity, Important, Liberty',
 'Inspirational, God, Faith',
 'Inspirational, Motivational, Inspiring',
 'Beauty, Love Yourself, Your Beautiful',
 'Business, Stupid, Government',
 'Inspirational, Life, Motivational',
 'Peace, Military, War',
 'Inspirational, Leadership, Confidence',
 'Motivational, Military, War',
 'Christian, Jesus, Confusing',
 'Inspirational, Success, Sports',
 'Inspirational, Motivational, Success',
 'Inspirational, Life, Clever',
 'Inspirational, Death, Failure',
 'Inspirational, Life, Motivational',
 'Inspiring, Hope, Spring',
 'Motivational, Running, People',
 'Inspirational, Motivational, Positive',
 'Summer, Food, Garden',
 'Inspirational, Life, Motivational',
 'Inspirational, Life, Thank You',
 'Funny, Sports, Jobs',
 'Being Strong, Wisdom, Stay Strong',
 'Inspirational, Motivational, Positive',
 'Motivational, Positive, Moon',
 'Time, Pain, Get Well',
 'Life, God, Christian',
 'President, Needs, Purpose',
 'God, Faith, Christian',
 'Women, Failure, Successful',
 'Inspirational, Morning, Kindness',
 'Hiding Place, Ability, Baby Boom',
 'Inspirational, Change, Philosophy',
 'Love, Inspirational, Life',
 'Inspirational, Family, Inspiring',
 'Inspirational, Success, Courage',
 'Inspirational, Life, Motivational',
 'Christian, Vision, Missionary',
 'Inspirational, Positive, Regret',
 'Love, Inspirational, Life',
 'Inspirational, Life, Encouragement',
 'Happy Birthday, Baseball, Fun',
 'Leadership, Power, Opportunity',
 'Inspirational, Life, Positive',
 'Inspirational, Encouraging, Patience',
 'New Year, Fun, New Beginnings',
 'Music, Sports, Hunting',
 'Trust, Encouraging, Uplifting',
 'Inspirational, Funny, Change',
 'Success, God, Mother',
 'Inspirational, Motivational, Change']

In [235]:
#Answer8
driver = webdriver.Chrome(r'C:\Users\Rakesh\Downloads\chromedriver.exe')

In [236]:
driver.get("https://www.jagranjosh.com")

In [238]:
designator = driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[3]/div/div/div/form/div[2]/div/input[1]")
designator.send_keys('List of all Prime Ministers of India')

In [239]:
search = driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[3]/div/div/div/form/div[2]/div/input[2]")
search.click()

In [240]:
search1 = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div/div[2]/div/div[2]/div/div[2]/h2/a")
search1.click()

In [241]:
NAME = []
BORN_DEAD = []
TERMofYEAR = []

In [242]:
name = driver.find_elements(By.TAG_NAME,"p")
for i in name[0:100]:
    location = i.text
    NAME.append(location)

In [243]:
NAME

['List of all Prime Ministers of India: Narendra Modi is the current and 14th Prime Minister of India. He would become the fourth Indian Prime Minister to serve two consecutive terms on the post and would be the first non-Congress Prime Minister of India who would complete two consecutive terms. The Prime Minister of India is the head of the government of the Republic of India. Executive authority is vested in the Prime Minister and their chosen Council of Ministers, though the President of India is the Constitutional, nominal and ceremonial head of the State. ',
 'In this article, we have mentioned the list of all the Prime Ministers of India along with their term starting from 1947 to 2022. ',
 'READ |',
 'List of Movies to Learn English: Watch These English Movies To Learn The Language Quickly!',
 'Yogi Adityanath Cabinet 2.0: Check List of Ministers, Ministers of State (Independent Charge), and Ministers of State',
 'List of all the Prime Ministers of India from 1947-2021',
 'S.N.',
 'Name',
 'Born-Dead',
 'Term of office',
 'Remark',
 '1.',
 'Jawahar Lal Nehru',
 '(1889–1964)',
 '15 August 1947 to 27 May 1964',
 '16 years, 286 days',
 'The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 '2.',
 'Gulzarilal Nanda (Acting)',
 '(1898-1998)',
 '27 May 1964 to 9 June 1964,',
 '13 days',
 'First acting PM of India',
 '3.',
 'Lal Bahadur Shastri',
 '(1904–1966)',
 '9 June 1964 to 11 January 1966',
 '1 year, 216 days',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '4. ',
 'Gulzari Lal Nanda  (Acting)',
 '(1898-1998)',
 '11 January 1966 to 24 January 1966',
 '13 days',
 '-',
 '5.',
 'Indira Gandhi',
 '(1917–1984)',
 '24 January 1966 to 24 March 1977',
 '11 years, 59 days',
 'First female Prime Minister of India',
 '6.',
 'Morarji Desai',
 '(1896–1995)',
 '24 March 1977 to  28 July 1979 ',
 '2 year, 126 days',
 'Oldest to become PM (81 years old) and first to resign from office',
 '7.',
 'Charan Singh',
 '(1902–1987)',
 '28 July 1979 to 14 January 1980',
 '170 days',
 'Only PM who did not face the Parliament',
 '8.',
 'Indira Gandhi',
 '(1917–1984)',
 '14 January 1980 to 31 October 1984',
 '4 years, 291 days',
 'The first lady who served as PM for the second term',
 '9.',
 'Rajiv Gandhi',
 '(1944–1991)',
 '31 October 1984 to 2 December 1989',
 '5 years, 32 days',
 'Youngest to become PM (40 years old)',
 '10.',
 'V. P. Singh',
 '(1931–2008)',
 '2 December 1989 to 10 November 1990',
 '343 days',
 'First PM to step down after a vote of no confidence',
 '11.',
 'Chandra Shekhar',
 '(1927–2007)',
 '10 November 1990 to 21 June 1991',
 '223 days',
 'He belongs to  Samajwadi Janata Party',
 '12.',
 'P. V. Narasimha Rao',
 '(1921–2004)',
 '21 June 1991 to 16 May 1996',
 '4 years, 330 days',
 'First PM from south India',
 '13.',
 'Atal Bihari Vajpayee',
 '(1924- 2018)',
 '16 May 1996 to 1 June 1996',
 '16 days',
 'PM for shortest tenure',
 '14.',
 'H. D. Deve Gowda',
 '(born 1933)',
 '1 June 1996 to 21 April 1997',
 '324 days',
 'He belongs to  Janata Dal',
 '15.',
 'Inder Kumar Gujral',
 '(1919–2012)',
 '21 April 1997 to 19 March 1998 ',
 '332 days']

In [265]:
#Answer 10

driver = webdriver.Chrome(r'C:\Users\Rakesh\Downloads\chromedriver.exe')

In [266]:
driver.get("https://www.motor1.com")

In [269]:
designator = driver.find_element(By.XPATH,"/html/body/div[3]/div[6]/form/div/input")
designator.send_keys('50 most expensive cars in the world')

In [270]:
search = driver.find_element(By.XPATH,"/html/body/div[3]/div[6]/form/input[2]")
search.click()

In [271]:
search1 = driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a")
search1.click()

In [272]:
Car_Name = []
Car_Price = []

In [282]:
carname = driver.find_elements(By.CLASS_NAME,'subheader')
for i in carname[0:50]:
    location = i.text
    Car_Name.append(location)

In [283]:
Car_Name

['De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [295]:
price = driver.find_elements(By.TAG_NAME,'strong')
for i in price[0:50]:
    location= i.text
    Car_Price.append(location)

In [296]:
Car_Price

['Price: $1.4 Million',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 '',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $10.8 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million',
 'Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 '',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $10.8 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million',
 'Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 '',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $10.8 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million']